@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --font-serif: "Playfair Display", serif;
  --font-sans: "Lato", sans-serif;
  
  /* Custom Bamboo Colors */
  --color-bamboo-light: #d6e8c0;
  --color-bamboo-DEFAULT: #76b041;
  --color-bamboo-dark: #2f5233;
}

html {
    scroll-behavior: smooth;
}

body {
    -webkit-font-smoothing: antialiased;
}